{% extends "base.html" %}

{% block content %}

<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        font-family: Arial, sans-serif;
    }
    
    form, div {
        margin: 15px 0;
    }
</style>

<h1>Game</h1>
<img src="/static/images/hangman{{ tries }}.png" alt="Hangman Image">

<div>
{% for i in visuals %}
    <span> {{ i }} </span>
{% endfor %}
</div>

<form action="{{ url_for('add_char') }}" method="post">
    <div>
        <!-- Checking if player exists before rendering the input -->
        {% if player %}
            <input type="hidden" name="player_id" value="{{ player.id }}">
        {% endif %}
        <label>Enter a letter or guess the word:</label>
        <div>
             <input type="text" name="guess" placeholder="Enter letter or word">
        </div>
    </div>
    <p><button type="submit">Submit</button></p>
</form>

<div>
 {% for i in usable_letters %}
    <span>{{ i }}</span>
 {% endfor %}
</div>

{% endblock %}


