{% extends "base.html" %}

{% block title %}
    Hangman Home
{% endblock %}

{% block content %}
<div style="text-align: center;">
    <h1>Welcome to the Hangman quest!</h1>
    <p>Rule the atlas with every guess!</p>
    <img src="http://www.quickmeme.com/img/12/128ff79c63c36a65621b2d5fbbbd0387a99850843ab2f57fc0047a5cf44692ec.jpg" alt="Hangman Game" style="width:38%; margin-top: 0px;">

    <p style="margin-top: 10px;">Do you have an account?</p>
    
    <!-- Explicitly using inline styles for the anchors -->
    <div style="text-align:center;">
        <a href="{{ url_for('login') }}" class="button">Yes</a>
        <a href="{{ url_for('register') }}" class="button">No</a>
    </div>

</div>
{% endblock %}








